@media (min-width: 576px) {
    #intro--serv {
        text-align: center;
        margin: 100px 25px;
        font-size: 15px;
        color: $colorTexto;
        p {
            color: $colorTexto2;
        }
    }
    
    #alojamiento--cabana {
        .cabanas {
            text-align: center;
            color: $colorTexto;
            p {
                color: $colorFondo;
            }
        }
        .foto--cabana {
            @include foto-mobile;
            img {
                width: 100%;
            }  
        }
        .descripcion {
            text-align: center;
            font-size: 15px;
            color: $colorTexto;
        }
    }
    
    #alojamiento--casa {
        .casaCampo {
            text-align: center;
            color: $colorTexto;
            p {
                color: $colorTexto2;
            }

        }
        .foto--casa {
            display: flex;
            margin: 15px;
            min-width: 400px;
            img {
                width: 100%;
            }

        }
        .foto--exterior {
            @include foto-mobile;
            img {
                width: 100%;
            }  
        }
        .descripcion {
            text-align: center;
            font-size: 15px;
            color: $colorTexto;
        }
    }
    
}
@media (min-width: 768px) {
    #intro--serv {
        text-align: center;
        margin: 100px 25px;
        font-size: 18px;
        color: $colorTexto;
        p {
            color: $colorTexto2;
        }
    }
    
    #alojamiento--cabana {
        .cabanas {
            text-align: center;
            color: $colorTexto;
            p {
                color: $colorTexto2;
            }
        }
        .foto--cabana {
            @include foto-tablet; 
            div {
                width: 100%;
                img {
                    width: 100%;
                }  

            }
        }
        .descripcion {
            text-align: center;
            font-size: 18px;
            color: $colorTexto;
        }
    }
    
    #alojamiento--casa {
        .casaCampo {
            text-align: center;
            color: $colorTexto;
            margin-top: 50px;
            p {
                color: $colorTexto2;
            }

        }
        .foto--casa {
            @include foto-tablet;
            max-width: 1000px;
            div {
                width: 100%;
                img {
                    width: 100%;
                }
    
            }
            
        }
        .foto--exterior { 
            @include foto-tablet;
            max-width: 1000px;
            div {
                img {
                    width: 100%;
                }  
            }
            
        }
        .descripcion {
            text-align: center;
            font-size: 18px;
            color: $colorTexto;  
        }
    }

}